
/* custom style for login page */
.card {    
    padding: 15px;
    max-width: 400px;
    height: auto;
    margin: 10px auto;
    text-align: center;
}
/* /end custom style for login page */

body {
    background-color: #abd3b8;
}

p {
    margin-top: 20px;
    margin-bottom: 10px;
}

 h1, h3 {
    margin-top: 30px;
}