

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background:#2b3643;*/
    background:#2d5f8b;
    color:#fff;
    display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

#loader {
    display: block;
    position: relative;
    font-family:Untitled Sans,sans-serif;
    font-size:2.2em;
    font-weight:700;
    letter-spacing:-1px;
    margin:.6rem 0
   
    
}



